a{
    color: #000 !important;
    text-decoration: none
}

.signin {
    width: 100px;
    height: 25px;
    background-color: #c1abf7;
    margin-bottom: 8px;
    border-radius: 3px;
    text-align: center;
    padding-top: 5px;
    align-self: center;
    margin-top: 8px;
    margin-left: 10px;
    font-size: 15px;
}

.login{
    width: 170px;
    height: 25px;
    background-color: #c1abf7;
    margin-bottom: 8px;
    border-radius: 3px;
    text-align: center;
    padding-top: 5px;
    align-self: center;
    margin-top: 8px;
    margin-left: 10px;
    font-size: 15px;
}


.usersImageHeader {
    align-self: center;
    float: right;
    display: flex;
    flex-direction: row;
  }

.inputSearch {
    margin-top: 8px;
    height: 25px;
}